<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOMEEEEEEE</h1>
    {% if user.is_authenticated %}
    Hola {{user.username}}
        <a href="{% url 'SessionOut' %}" >Logout</a>
        

        <br><br>
        <a href="{% url 'ViewTask' %}">View task</a>
        &nbsp;
        &nbsp;
        <a href="{% url 'ViewAllTask' %}">View all task</a>

        
    

    {% else %}
    <a href="{% url 'Autentication' %}">Register</a>
    <a href="{% url 'Log' %}">Login</a>
    <br><br>



    {% endif %}

    
    {% block taskss %}
        
    {% endblock taskss %}
        
        
    
    
</body>
</html>